* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100%;
    background-color: rgb(24, 27, 37);
    font-family: Verdana, sans-serif;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    margin: 1rem 0 3rem;
}
.titulo {
    color:red;
    text-transform: uppercase;
    font-weight: 800;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}


.check-box{
    position: absolute;
    top: 5px;
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: #bebebe;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
.check-box:checked {
    background-color: lime; 
}
.check-box:checked:hover{
    background-color: rgb(0, 225, 0); 

}
.check-box:hover{
    background-color: #a0a0a0;
}

.check-box:checked::before {
    content: '✔'; 
    position: absolute;
    left: 4px; 
    top: -2px; 
    color: white; 
    font-size: 20px;
}
.add {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover {
    opacity: 0.6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    border-bottom: 4px solid #fff;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 1.5rem;
}

.item-input {
    background: none;
    outline: none;
    border: none;
    color: black;
    font-size: 1.4rem;
    width: 245px;
}

.item-input:disabled{
    background-color: #d1d1d1;
    border-radius: 5px;
}

.edit {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(24, 27, 37);
}


.remove {
    background: none;
    outline: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(24, 27, 37);
}
